*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 80%;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
ul{
    text-decoration: none;
}
.container2{
    width: 90%;
    margin: 0 auto;
}