@mixin buttun-style {
  border-radius: 57px;
  border: 1.5px solid var(--primary-color-dark-blue, #003459);
  color: var(--primary-color-dark-blue, #003459);
  padding: 14px 28px 10px 28px;
  font-family: SVN-Gilroy;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
@mixin buttun-style2 {
  border-radius: 57px;
  background: var(--primary-color-dark-blue, #003459);
  padding: 14px 28px 10px 28px;
  color: var(--neutral-color-00, #fdfdfd);
  font-family: SVN-Gilroy;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
