.toy {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
  .oyinchoq {
    border-radius: 12px;
    background: var(--neutral-color-00, #fdfdfd);
    box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.08);
    padding: 8px 8px 0px 8px;
    .oyinchoq_img {
      img {
        width: 100%;
        border-radius: 12px;
      }
    }
    .oyinchoq_text {
      h1 {
        color: var(--neutral-color-100, #00171f);
        font-family: SVN-Gilroy;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
      }
      p {
        color: var(--neutral-color-60, #667479);
        font-family: SVN-Gilroy;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px;
      }
      h2 {
        color: var(--neutral-color-100, #00171f);
        font-family: SVN-Gilroy;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px;
      }
    }
    .gift {
      border-radius: 8px;
      background: var(--secondary-color-mon-yellow-40, #fceed5);
      display: flex;
      padding: 6px 10px 4px 10px;
      align-items: center;
      gap: 10px;
      p {
        color: var(--primary-color-dark-blue-80, #002a48);
        font-family: SVN-Gilroy;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px;
      }
    }
  }
}
