@media (max-width:1247px){
    .footer_text{
        flex-direction: column;
        width: 100%;
        .footer_input{
            width: 100%;
        }
    }
    .footer_linklar{
        flex-direction: column;
        gap: 20px;
        .linklarfoter{
          gap: 70px;
        }
    }
    .end{
        flex-direction: column;
        gap: 20px;
        padding:10px 0 0 0;
    }
}
@media (max-width:838px){
    footer{
        padding: 50px 30px;
        width: 100%;
        .container{
          width: 100%;
          margin: 0 auto;
        }
    }
    .footer_text{
        width: 100%;
        .footer_input{
            width: 100%;
            flex-direction: column;
            input{
                border-radius: 8px;
                border: 1px solid var(--neutral-color-40, #99A2A5);
                background: #FFF;
                width: 100%;
            }
            button{
                width: 100%;
            }
        }
    }
 
}
@media (max-width:424px){
    footer{
        padding: 20px 20px;
        width: 100%;
        .container{
          width: 100%;
          margin: 0 auto;
        }
    }
    .footer_text{
        h1{
           font-size: 20px; 
        }
    }
   .footer_linklar{
    .linklarfoter{
        gap: 20px;
    }
   }
 
}