@media (max-width:1402px){
    .anons{
        .whats_new{
            display: none;
        }
        .reklama{
            display: none;
        }
    }
    .anons2{
        .wrap{
            display: none;
        }
    }
}

